<!-- Chimera-md v{{version}} -->
<!DOCTYPE html>
<html lang="{{site_lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style/skeleton.css">
    <link rel="stylesheet" href="/style/chimera.css">
    <link rel="stylesheet" href="/home/style/site.css">
    {{{code_js}}}{{{plugin_js}}}
  </head>
  <body>
    <nav>
      <div class="nav-overlay"></div>
      <div class="title">
        <a href="/home/">{{site_title}}</a>
      </div>
      <div class="search">
        <form action="/search" method="get" style="display: flex;flex-wrap: nowrap;">
          <!-- id for javascript, name for form submit -->
          <input id="query" name="query" type="search" placeholder="Search...">
            <label style="display: initial;">
              <input type="image" src="/icon/search.svg" alt="search">
            </label>
        </form>
      </div>
      <div class="mobile-search">
        <a href="/search">
          <img class="search-icon" src="/icon/search.svg" alt="search">
        </a>
      </div>
    </nav>
